.img-fluid {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.bg {
    /* The image used */
    background-image: radial-gradient(#fdfbfb 0%, #ebedee 100%);
    /*background: #fff url('img/bg-diegotenorio.svg') center center no-repeat; */   
    background-size: cover;

    /* Full height */
    height: 99.9%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
    }
}

footer {
    #contato {
        background-color: #fff;
    }
    #url {
        background-color: #222;
        padding: 15px 0;
        p {
            font: normal .68em 'Raleway', sans-serif;
            letter-spacing: 1px;
            color: #fff;
        }
    }
}