.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .gallery-column {
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
            width: 100%;
        }
        @media (min-width: 768px) {
            max-width: 33.333333%;
        }

        a {
            display: contents;

            img {
                object-fit: contain;
                height: auto;
                width: 100%;
                transition: 0.3s ease-out;
            }

            &:hover {
                img {
                    opacity: .8;
                    transition: 0.3s ease-out;
                }
            }
        }
    }
}